body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navagation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Montserrat";
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.cloud-bottom {
  width: 20%;
  transform: rotate(0deg);
  position: relative;
  right: 250px;
  top: 60px;
}

.cloud-top {
  width: 20%;
  transform: rotate(0deg);
  position: absolute;
  right: 150px;
  top: 30px;
}

/* Features section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.uiux-portfolio {
  padding-top: 70px;
  position: relative;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 80%;
  margin: 20px;
}

.testimonial-image2 {
  width: 28%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#contact {
  text-align: center;
  margin: 8%;
}

.email {
padding-bottom: 50px;
}
.form-group {
  width: 70%;
  padding: 0 0 0 30%;
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

#footer .container-fluid {
  padding: 5% 15% 3%;
}

@media (max-width: 1028px) {
  #title {
  text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
